[nodes]
"8CD3878ACDCE86BB" = "Lounge"
"C1F8BED8A9AAB8C5" = "Bedroom 1"

[serial]
port = "COM3"
baud = 4800

[thingspeak]
api_key = ""
temperature_field = "field2"
humidity_field = "field3"

[librato]
username = ""
api_key = ""

[elasticsearch]
server = ""
index = "opentrv"
